GITHUB_TOKEN=
GITHUB_REPO=
SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=
NOTION_TOKEN=
NOTION_DATABASE_ID=
GROQ_API_KEY=
DATABASE_URL=
MCP_SERVER_URL=
CLERK_SECRET_KEY=
FRONTEND_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=